.taskForm {
  margin: 2rem auto;
  width: 100%;
}

.taskInput {
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  height: 3.5rem;
  border: 0.15rem solid rgb(49, 49, 187);
  border-radius: .25rem;

  &:focus {
    outline: none;  border: 0.15rem solid rgb(180, 66, 184);
    border-radius: .25rem;
  }
}